<p id="notice"><%= notice %></p>
<%= Time.zone.now %>

<h1>Todos</h1>

<%= link_to 'New Todo', new_todo_path, 'data-turbo-frame': 'modal', class: 'btn btn-secondary mb-2' %>

<%= turbo_frame_tag 'modal' %>

<div id='todos'>
  <%= render @todos %>
</div>
