<%= turbo_frame_tag 'modal' do %>
  <div class="modal" tabindex="-1" data-controller='start-modal-on-connect'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Todo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <%= form_with(model: @todo) do |form| %>
          <div class="modal-body">
            <% if @todo.errors.any? %>
              <div id="error_explanation">
                <p><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</p>

                <ul>
                  <% @todo.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
              <%= form.label :title %>
              <%= form.text_field :title %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= form.submit 'Create', class: 'btn btn-primary', 'data-action': 'start-modal-on-connect#close' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
